openai>=1.13.3
mistralai>=0.4.0
anthropic>=0.26.1
google-generativeai>=0.5.4
tenacity>=8.3.0
termcolor>=2.4.0
numpy>=1.26.4
litellm>=1.41.0
pyyaml>=6.0
tau-bench @ git+https://github.com/sierra-research/tau-bench.git